<ion-view view-title="Experiences - fauzie">
  <ion-nav-title>
    Experiences <span class="subtitle">my formal work experiences</span>
  </ion-nav-title>
  <ion-content class="services padding">
    <section id="cd-timeline" class="cd-container" ng-animate-children>
      <div class="exp-item" ng-repeat="exp in exps">
        <div class="cd-timeline-block">
          <div class="cd-timeline-icon">
            <i class="{{exp.icon}} timelineIcon"></i>
          </div>
          <div class="cd-timeline-content">
            <h5 class="heading">{{exp.date | date:'MMM yyyy'}} : {{exp.work}}</h5>
            <p class="cd-author">{{exp.comp}}</p>
            <p class="timelineText">{{exp.desc}}</p>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>