<ion-view view-title="Projects - fauzie">
  <ion-nav-title>
    Projects <span class="subtitle">my recent works</span>
  </ion-nav-title>
  <ion-content>
    <ion-list class="projects">
      <ion-item 
      class="item-thumbnail-left" 
      ng-repeat="(id, project) in projects" 
      href="#/project/{{id}}">
        <img ng-src="{{project.thumb | cloudImageURL}}">
        <h2>{{project.name}}</h2>
        <h4>{{project.cat}}</h4>
        <h6>{{project.year}}</h6>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
