<ion-view view-title="Projects - fauzie">
  <ion-nav-title>
    Projects <span class="subtitle">my recent works</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="projects">
      <ion-item 
      class="item-thumbnail-left" 
      ng-repeat="project in projects" 
      href="#/project/{{project.$id}}">
        <img ng-src="{{project.thumb}}">
        <h2>{{project.name}}</h2>
        <h4>{{project.cat}}</h4>
        <h6>{{project.date | date:'MM yyyy'}}</h6>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
