<ion-view>
  <ion-nav-title>{{data.name}}</ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list class="card">
      <ion-item class="item-image">
        <ion-scroll direction="xy" zooming="true" min-zoom="1.0" max-zoom="2.5" overflow-scroll="false" has-bouncing="true">
          <img ng-src="{{data.image}}">
        </ion-scroll>
      </ion-item>
      <ion-item>
        <h3>{{data.name}}</h3>
        <p>{{data.url | getDomain}}</p>
      </ion-item>
      <ion-item class="tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="preview()">
          <i class="icon ion-monitor"></i> Preview
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i> Comment
        </a>
        <a class="tab-item" ng-click="share()">
          <i class="icon ion-share"></i> Share
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
