<ion-view view-title="Services - fauzie">
  <ion-nav-title>
    Services <span class="subtitle">services i can do for you</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content class="services padding" in-view-container>
    <div class="list card faded" ng-repeat="service in services" in-view="onVisible($inview, $inviewInfo)">
      <div class="item text-center">
        <h1>{{service.title}}</h1>
      </div>
      <div class="item item-body text-center">
        <i class="icon {{service.icon}}" style="font-size:100px"></i>
        <p>{{service.desc}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>