/**
 * App Custom Style
 * 
 * @since     1.0.0
 * @author    Rizal Fauzie <rizal@fauzie.my.id>
 * @package   fauzie.app
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #fff;
}

.button {
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
  color: #c0c0c0;
}

.menu {
  .scroll-content {
    background-color: #111;
    bottom: 70px;
  }
  .bar-footer {
    height: 70px;
    .button {
      font-size: 16px;
      line-height: 40px;
    }
  }
}

.bar {
  .title {
    font-size: 24px;
    .subtitle {
      color: #929292;
      line-height: 1;
      font-size: 60%;
      font-weight: 300;
      margin-left: .5rem;
      text-transform: capitalize;
    }
  }
}

.row-full-height {
  height: 100%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

// Specific Page Styles

ion-view[state="app.home"] {
  ion-content {
    background-image: url(../img/fauzie-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    text-align: center;
    padding: 30px 50px;
    .btn-home-about {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

ion-view[state="app.about"] {
  ion-content {
    background-image: url(../img/fauzie-bg2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    .scroll {
      background-color: rgba(0,0,0,.3);
      text-align: center;
    }
  }
}

ion-view[state="app.services"] {
  background-color: #222;
  border-radius: 6px;
  .list.card {
    background-color: #222;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    .item:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .item:last-child {
      border-color: #fa023c;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    .item-body {
      .icon {
        font-size: 100px;
        line-height: 110px;
      }
      p:last-child {
        margin: 15px auto 5px;
        max-width: 85%;
      }
    }
  }
}

ion-view[state="app.project"] {
  background-color: #1b1b1b;
  ion-content {
    padding-top: 20px;
  }
}

.gallery-view {
  &.photos {
    margin: 15px auto;
    .image-container {
      border: 2px solid #111;
    }
  }
}

.services {
  .card {
    &.ng-enter-stagger {
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    }
    &.ng-enter {
      -webkit-animation: fadeInUpBig 1s;
      animation: fadeInUpBig 1s;
    }
  }
}

.projects {
  .item {
    min-height: 80px;
    border-left-color: transparent;
    border-right-color: transparent;
    &.ng-enter-stagger {
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    }
    &.ng-enter {
      -webkit-animation: flipInX 1s;
      animation: flipInX 1s;
    }
    .item-content {
      padding-top: 16px;
      padding-left: 105px;
      min-height: 82px;
      > img:first-child {
        top: 18px;
        height: auto;
      }
      h6 {
        color: #979797;
      }
    }
  }
}

.skills {
  .list {
    padding: 0 0 20px;
  }
  .item {
    position: relative;
    .badge {
      right: 10px;
      font-weight: 400;
    }
    .skillbar {
      display: block;
      background-color: #fa023c;
      border: 0;
      height: 3px;
      max-width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
    &.ng-enter-stagger .skillbar {
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    }
    &.ng-enter .skillbar {
      -webkit-animation: slideInLeft 1s;
      animation: slideInLeft 1s;
    }
  }
}

.exp-item {
  &.ng-enter-stagger {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
  }
  &.ng-enter {
    -webkit-animation: slideInRight 1s;
    animation: slideInRight 1s;
  }
}

hr.primary {
  border: 0;
  border: 3px solid #fa023c;
  max-width: 120px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.lead {
  color: #929292;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.7;
  text-align: center;
  margin: 15px auto 30px;
  width: 75%;
}

.transparent {
  opacity: 0;
}

.item-divider {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.bar .buttons-right .button-icon:before {
  font-size: 26px;
  color: rgba(206, 206, 206, 0.8);
}

.loginform {
  .button {
    .spinner {
      position: relative;
      margin-right: 10px;
      svg {
        position: absolute;
        right: 0;
        top: 0;
        width: 24px !important;
        height: 24px !important;
      }
    }
  }
}
