<ion-view view-title="Dashboard">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-small button-positive button-icon ion-log-out" ng-click="authObj.$signOut()"></button>
  </ion-nav-buttons>
  <ion-content class="client-dashboard">
    <div class="profile-box text-center">
      <div class="img-wrap" background-image-src="{{proPic}}">
        <button class="button button-clear button-icon ion-plus-round" ng-hide="hasProPic"></button>
      </div>
      <h4>{{user.displayName}}</h4>
    </div>
    <ion-list>
      <ion-item class="item-divider">
        Account Details
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-timer"></i> Last Update
        <span class="item-note">{{user.extraData.updated | relativeDate}}</span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-stopwatch"></i> Created At
        <span class="item-note">{{user.extraData.created | date:'MMM d, yyyy H:m a'}}</span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-email"></i> E-Mail
        <span class="item-note">{{user.email}}</span>
      </ion-item>
      <a ui-sref="app.client.quotes" class="item item-icon-left">
        <i class="icon ion-ios-chatboxes"></i> My Quotes
        <span class="badge badge-assertive">{{user.extraData.quotes.length}}</span>
      </a>
    </ion-list>
  </ion-content>
</ion-view>