<ion-view view-title="Dashboard">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content class="client-dashboard">
    <div class="profile-box text-center">
      <div class="img-wrap" style="background-image:url({{proPic}})">
        <button class="button button-clear button-icon ion-plus-round" ng-hide="hasProPic"></button>
      </div>
      <h4>{{user.displayName}}</h4>
    </div>
    <ion-list>
      <ion-item class="item-divider">
        Account Details
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-email"></i> E-Mail
        <span class="item-note">{{user.email}}</span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-chatboxes"></i> My Quotes
        <span class="badge badge-assertive">{{user.extraData.quotes.length}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>