<ion-view view-title="Reset Password">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class="item-divider item-icon-left">
        <i class="icon ion-android-unlock"></i> Change Password
      </ion-item>
      <form name="accountForm" ng-submit="savePassword()" class="form-validate-wrap" autocomplete="off" _lpchecked="0" novalidate>
        <ion-item class="item-input">
          <span class="input-label">Current Password</span>
          <input type="password" ng-model="password.old" ng-disabled="isSaving" ng-minlength="4" ng-maxlength="50" ng-required="true" form-validate>
          <span class="field-validate"></span>
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">New Password</span>
          <input type="password" ng-model="password.new" ng-disabled="isSaving" ng-minlength="4" ng-maxlength="50" ng-required="true" form-validate>
          <span class="field-validate"></span>
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="password.confirm" ng-disabled="isSaving" ng-minlength="4" ng-maxlength="50" ng-required="true" form-validate>
            <span class="field-validate"></span>
        </ion-item>
        <ion-item class="item-input text-center form-submit">
          <button class="button button-outline button-positive button-block" ng-disabled="isSaving" ng-class="saveClss">
            <span class="default">UPDATE</span>
            <span class="saving"><ion-spinner icon="lines" class="icon spinner-positive"></ion-spinner> UPDATING...</span>
            <span class="saved"><i class="icon ion-android-checkmark-circle"></i> UPDATED</span>
          </button>
        </ion-item>
      </form>
    </ion-list>
  </ion-content>
</ion-view>