<ion-view view-title="Dashboard">
  <ion-tabs class="tabs-royal tabs-color-positive tabs-icon-left">
    <!-- Dashboard Tab -->
    <ion-tab title="Dashboard" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" ui-sref="app.client.dashboard">
      <ion-nav-view name="client-dashboard"></ion-nav-view>
    </ion-tab>
    <!-- Quotes Tab -->
    <ion-tab title="Quotes" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="app.client.quotes">
      <ion-nav-view name="client-quotes"></ion-nav-view>
    </ion-tab>
    <!-- Settings Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="app.client.settings">
      <ion-nav-view name="client-settings"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>

<script id="templates/popover.html" type="text/ng-template">
  <div class="platform-ios fauzie-popover">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <a class="item" ui-sref="app.client.settings" ng-click="popover.hide($event)">
            <i class="icon ion-ios-gear"></i>&nbsp;&nbsp;Settings
          </a>
          <a class="item" ng-click="authObj.$signOut()">
            <i class="icon ion-log-out"></i>&nbsp;&nbsp;Log Out
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </div>
</script>

<script id="templates/quote-popover.html" type="text/ng-template">
  <div class="platform-ios fauzie-popover">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <a class="item" ng-click="popover.hide($event); openChat()">
            <i class="icon ion-android-chat"></i>&nbsp;&nbsp;Project Chat
          </a>
          <a class="item" ng-click="popover.hide($event); removeQuote()">
            <i class="icon ion-trash-a"></i>&nbsp;&nbsp;Remove Project
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </div>
</script>